/* Navbar Section */
.navTitle {
  color: #2dd4bf;
  font-family: sans-serif;
}
.nav-link:hover {
  color: #2dd4bf !important;
}

#user {
  background-color: #c3e9e7;
}

/* Hero Section */
form,
#nameSearch {
  background-color: #e0f2f1;
}

button[type='submit']:focus {
  box-shadow: none;
}

.result-box {
  background-color: #ffedd5;
}

.suggestion:hover {
  background-color: #c3e9e7;
  padding: .3rem;
  border-radius: 5px;
  cursor: pointer;
}